@media (max-width:1199px) {
    .container{
        max-width: 1140px !important;
    }
    .inner .category-row .category-main .category-inner{
        width: 25% !important;
    }
    .inner .category-row .category-main .none{
        display: none !important;
    }
}
@media (max-width:992px) {
    .container{
        max-width: 960px !important;
    }
    .inner .category-row .category-main .category-inner{
        width: 50% !important;
    }

}